/* orange */
/* green */
/* cyan */
/* grey */
/* purple */
html, body {
  height: 100%; }

textarea, input, span {
  outline: none; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center; }

body {
  font-family: 'Lato', sans-serif;
  padding: 0; }

.activity {
  height: 50px;
  padding: 10px; }
  .activity .info {
    text-align: left;
    font-size: 20px;
    color: #fff; }

.legend {
  padding: 20px; }

.legend-container {
  margin-bottom: 20px; }

.button-container {
  padding: 20px; }
