$walking-colour: #fe5621; /* orange */
$running-colour: #4bae4f; /* green */
$cycling-color: #00bbd3; /* cyan */
$still-colour: #333333; /* grey */
$unknown-colour: #6639b6; /* purple */

html, body{
  height: 100%;
}

textarea, input, span {
  outline: none;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

body{
  font-family: 'Lato', sans-serif;
  padding: 0;
}

.activity{
  height: 50px;
  padding: 10px;
  .info{
    text-align: left;
    font-size: 20px;
    color: #fff
  }

}

.legend{
  padding: 20px;
}
.legend-container{
  margin-bottom: 20px;
}

.button-container{
  padding: 20px;
}